
.NavBar-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .NavBar-logo {
    animation: NavBar-logo-spin infinite 5s linear;
  }
}

@keyframes NavBar-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}